// Custom colors
$app-primary: #F69051;
$app-primary--tones: (
  50: #FAC19E,
  100: #F9B58B,
  200: #F8A977,
  300: #F79C64,
  400: $app-primary,
  500: #F5843D,
  600: #F4772A,
  700: #F36B16,
  800: #E9610C,
  900: #D5590B,
  950: #C2510A
);


$app-secondary: #242423;
$app-tertiary: #E8EDDF;
$app-quaternary: #CFDBD5;
$app-accent: #333533;

$app-danger: #e50000;
$app-danger--tones: (
    50: #F9B5B5,
    100: #F99E9E,
    200: #F88888,
    300: #F77171,
    400: $app-danger,
    500: #F54444,
    600: #F42D2D,
    700: #F31717,
    800: #E50D0D,
    900: #D50B0B,
    950: #C50A0A
);
$app-info: #2e90fa;
$app-warning: #FFCC00;
$app-success: #4CAF50;

