// Custom colors
$app-primary: #1B2727;
$app-secondary: #C6EA4B;
$app-tertiary: #D9D9D9;
$app-quaternary: #3C5148;
$app-accent: #E6EBCD;

$app-danger: #FF3D00;
$app-info: #2e90fa;
$app-warning: #FFCC00;
$app-success: #4CAF50;

