// IMPORTS
@import '_variables';
@import '_fonts';

// COLORS
$colors: (
  'primary': $app-primary,
  'secondary': $app-secondary,
  'tertiary': $app-tertiary,
  'accent': $app-accent,
  'danger': $app-danger,
  'info': $app-info,
  'warning': $app-warning,
  'success': $app-success,
  'quaternary': $app-quaternary,
);

// COLOR RELATED CLASSED
@each $name, $color in $colors {

  // classes for texts in every color
  .text-app-#{$name} {
    color: $color !important;
  }
  // classes for backgrounds in every color
  .bg-app-#{$name} {
    background-color: $color !important;
  }
  // classes for borders in every color
  .border-app-#{$name} {
    border-left: 1px solid $color !important;
    border-right: 1px solid $color !important;
    border-top: 1px solid $color !important;
    border-bottom: 1px solid $color !important;
  }

  .divider-app-#{$name} {
    background-color: $color !important;
  }
}

$tones: (
  'primary': $app-primary--tones,
  'danger': $app-danger--tones,
);

// TONES RELATED CLASSED
@each $name, $tone in $tones {
  @each $tone-name, $tone-color in $tone {
    .text-app-#{$name}-#{$tone-name} {
      color: $tone-color !important;
    }
    .bg-app-#{$name}-#{$tone-name} {
      background-color: $tone-color !important;
    }
    .border-app-#{$name}-#{$tone-name} {
      border-left: 1px solid $tone-color !important;
      border-right: 1px solid $tone-color !important;
      border-top: 1px solid $tone-color !important;
      border-bottom: 1px solid $tone-color !important;
    }
    .separator-app-#{$name}-#{$tone-name} {
      background: $tone-color !important;
    }
  }
}

html,
body {
  font-size: clamp(13px, 15px, 16px);
  letter-spacing: 0.078rem;
}


a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.no-select {
  user-select: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: transparent;

  @media (min-width: 900px) {
    background: $app-primary;
  }
}

.sidebar-navigation {
  display: none;
  @media (min-width: 900px) {
    width: 5%;
    display: flex;
    flex-direction: column;
  }
}

.sidebar-navigation--animation {
 @media (min-width: 500px) {
   -webkit-transition: width 1s ease-in-out;
   -moz-transition: width 1s ease-in-out;
   -o-transition: width 1s ease-in-out;
   transition: width 1s ease-in-out;

   width: 16%;

   @media (max-width: 1200px) {
     width: 23%;
   }
 }
}

.apexcharts-legend-text {
  color: #858991 !important;
}